.button {
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 15px;
  text-decoration: none;
  user-select: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:active {
    background-color: #99aab5;
  }
}

.button_red {
  background-color: rgba(189, 12, 47, 0.863);
}

.button_blue {
  background-color: #7289da;
}

.button_green {
  background-color: #07a70f;
}

.button,
a {
  text-decoration: none;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 56%;
  top: 81%;
  width: 20px;
  height: 20px;
  margin-top: -13px;
  margin-left: -8px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
