.card {
}

[contenteditable='true'] {
  font-size: 0.75em;
  color: #ffffff;
  line-height: 1.5em;
  position: relative;
}

[contenteditable='true']:active,
[contenteditable='true']:focus {
  border: none;
  outline: none;
}
