.footer-container {
  padding: 35px 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-container .texto-centro {
  text-align: center;
}

.footer-container .texto-centro a {
  color: #7289da;
}

.footer-container .texto-centro .developer {
  font-size: 12px;
  color: #ededed;
}

.footer-container .texto-centro .developer a {
  color: #ededed;
}

.informacoes-container {
  width: 100%;
  height: all;
  background-color: transparent;
  margin: 0 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.informacoes-container .details {
  width: 450px;
  height: 200px;
  background-color: #222326;
  border-radius: 5px;
  margin: 0 20px auto;
  cursor: pointer;
  transition: all 0.6s;
}

.informacoes-container .details .nome {
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 19px;
  font-weight: 300;
  background-color: #161616;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.informacoes-container .details .conteudo {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
}

.mecformations-container {
  width: 100%;
  height: all;
  background-color: transparent;
  margin: 0 10px auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.mecformations-container .informations {
  width: 280px;
  height: all;
  background-color: #222326;
  border-radius: 5px;
  margin: 30px 0 auto;
  transition: all 0.6s;
}

.mecformations-container .informations .nome {
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 19px;
  font-weight: 300;
  background-color: #161616;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mecformations-container .informations .conteudo {
  width: 280px;
  width: 280px;
  border-radius: 5px;
  padding: 10px;
}

.mecformations-container .informations .conteudo .texto {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  cursor: not-allowed;
}

.mecformations-container .informations .conteudo .texto a {
  opacity: 0.7;
  color: #7289da;
  transition: all 0.5s;
}

.mecformations-container .informations .conteudo .texto a:hover {
  opacity: 1;
  color: #7289da;
  transition: all 0.5s;
}

.mecformations-container .informations .conteudo .imagem img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
}

.mecformations-container .informations .conteudo .imagem img:hover {
  opacity: 1;
  transition: all 0.5s;
}

.informacoes-container .details:hover,
.mecformations-container .informations:hover {
  box-shadow: 0px 7px 28px -16px rgba(20, 20, 20, 1);
  transition: all 0.6s;
}
